<div class="container">
  <h2>My contacts</h2>
  <table class="table">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{contact?.firstName}}</td>
        <td>{{contact?.lastName}}</td>
        <td>{{contact?.email}}</td>
        <td><span class="glyphicon glyphicon-remove"></span></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <input type="text" placeholder="First name" class="form-control" [(ngModel)]="first"> 
        </td>
        <td>
          <input type="text" placeholder="Lirst name" class="form-control" [(ngModel)]="last">
        </td>
        <td>
          <input type="text" id="email" placeholder="email@example.com" class="form-control" [(ngModel)]="email">
        </td>
        <td><span class="button glyphicon glyphicon-plus" (click)="addContact(first, last, email);getContacts();first=last=email=''" type="submit"></span></td>
      </tr>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>